body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  margin: 0;
  font-family: Arial, sans-serif;
  perspective: 1000px;
}

.dice {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.side {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.side:before,
.side:after {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  right: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  border-radius: 4px 0 0 4px;
}

.front {
  transform: rotateY(0deg) translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
}

.rotate-front {
  transform: rotateX(360deg) rotateY(360deg);
}
.rotate-back {
  transform: rotateX(0deg) rotateY(180deg);
}
.rotate-right {
  transform: rotateX(360deg) rotateY(270deg);
}
.rotate-left {
  transform: rotateX(360deg) rotateY(90deg);
}
.rotate-top {
  transform: rotateX(270deg) rotateY(360deg);
}
.rotate-bottom {
  transform: rotateX(90deg) rotateY(360deg);
}
